Repository onied/main, pull requests merged in 2024-10, with the labels that each got.

#101 Meta: C4 модель
  .gitignore
  structurizr/docker-compose.yml
  structurizr/workspace.dsl
  structurizr/workspace.json
Labels: documentation

#105 MAIN-199: Тесты сервиса сертификатов
  backend/certificates/src/app.module.spec.ts
  backend/certificates/src/certificate/certificate.controller.spec.ts
  backend/certificates/src/certificate/certificate.service.spec.ts
Labels: Backend

#102 MAIN-200: Тесты сервиса Users
  backend/Onied/Common.Validation/Attributes/GuidNotEmptyAttribute.cs
  backend/Onied/Common.Validation/DataAnnotationValidator.cs
  backend/Onied/Onied.sln
  backend/Onied/Tests.Courses/UnitTests/ServiceBusTests/NotificationSentProducerTests.cs
  backend/Onied/Tests.Courses/UnitTests/ServiceTests/NotificationPreparerServiceTests.cs
  backend/Onied/Tests.Users/GlobalUsings.cs
  backend/Onied/Tests.Users/Tests.Users.csproj
  backend/Onied/Tests.Users/UnitTests/Helpers/TestSignInManager.cs
  backend/Onied/Tests.Users/UnitTests/Helpers/TestUserManager.cs
  backend/Onied/Tests.Users/UnitTests/ServiceTests/ProfileServiceTests.cs
  backend/Onied/Tests.Users/UnitTests/ServiceTests/UsersServiceTests.cs
  backend/Onied/Users/Factories/ValidationProblemFactory.cs
Labels: Backend

#116 MAIN-204: Окно чата поддержки со стороны пользователя
  frontend/onied/src/assets/anonOperatorIcon.png
  frontend/onied/src/assets/cyanTick.svg
  frontend/onied/src/assets/sendMessageIcon.svg
  frontend/onied/src/assets/supportIcon.svg
  frontend/onied/src/assets/whiteCross.svg
  frontend/onied/src/components/supportChatForUser/chatButton/chatButton.module.css
  frontend/onied/src/components/supportChatForUser/chatButton/chatButton.tsx
  frontend/onied/src/components/supportChatForUser/chatInput/chatInput.module.css
  frontend/onied/src/components/supportChatForUser/chatInput/chatInput.tsx
  frontend/onied/src/components/supportChatForUser/chatMessage/chatMessage.module.css
  frontend/onied/src/components/supportChatForUser/chatMessage/chatMessage.tsx
  frontend/onied/src/components/supportChatForUser/chatWindow/chatWindow.module.css
  frontend/onied/src/components/supportChatForUser/chatWindow/chatWindow.tsx
  frontend/onied/src/components/supportChatForUser/messageDtos.ts
  frontend/onied/src/components/supportChatForUser/supportChatWrapper.tsx
  frontend/onied/src/components/supportChatForUser/tempMessagesSource.ts
Labels: Frontend
