Repository onied/main, pull requests merged in 2025-01, with the labels that each got.

#154 Бэк: Получение файлов и метаданных
  backend/Onied/Storage/Storage/Abstractions/IStorageService.cs
  backend/Onied/Storage/Storage/Constants/Buckets.cs
  backend/Onied/Storage/Storage/Controllers/StorageController.cs
  backend/Onied/Storage/Storage/Handlers/GetMetadataQueryHandler.cs
  backend/Onied/Storage/Storage/Handlers/GetUrlByFileIdQueryHandler.cs
  backend/Onied/Storage/Storage/Queries/GetMetadataByFileIdQuery.cs
  backend/Onied/Storage/Storage/Queries/GetUrlByFileIdQuery.cs
  backend/Onied/Storage/Storage/Services/StorageService.cs
Labels: Backend

#157 Бэк: временное хранилище
  backend/Onied/Storage/Storage/Abstractions/IRedisRepository.cs
  backend/Onied/Storage/Storage/Commands/InitUploadTemporaryFile.cs
  backend/Onied/Storage/Storage/Commands/UploadMetadata.cs
  backend/Onied/Storage/Storage/Commands/UploadTemporaryFile.cs
  backend/Onied/Storage/Storage/Controllers/TemporaryStorageController.cs
  backend/Onied/Storage/Storage/Dtos/GetTemporaryFileData.cs
  backend/Onied/Storage/Storage/Extensions/ServicesExtensions.cs
  backend/Onied/Storage/Storage/Handlers/InitUploadTemporaryFileHandler.cs
  backend/Onied/Storage/Storage/Handlers/UploadMetadataHandler.cs
  backend/Onied/Storage/Storage/Handlers/UploadTemporaryFileHandler.cs
  backend/Onied/Storage/Storage/Program.cs
  backend/Onied/Storage/Storage/Services/RedisRepository.cs
  backend/Onied/Storage/Storage/Services/TemporaryStorageService.cs
  backend/Onied/Storage/Storage/Storage.csproj
  backend/Onied/Storage/Storage/appsettings.json
  backend/docker-compose.yml
  backend/redis/docker-compose.yml
Labels: enhancement, Backend

#158 Фронт: Диалог загрузки файлов
  backend/Onied/Purchases/Purchases/appsettings.json
  frontend/onied/package-lock.json
  frontend/onied/src/App.css
  frontend/onied/src/components/editCourse/editBlocks/editSummaryBlock/editSummaryBlock.spec.tsx
  frontend/onied/src/components/editCourse/editBlocks/editSummaryBlock/editSummaryBlock.tsx
  frontend/onied/src/components/editCourse/editBlocks/editVideoBlock/editVideoBlock.tsx
  frontend/onied/src/components/editCourse/editPreview/editPreview.tsx
  frontend/onied/src/components/general/button/button.tsx
  frontend/onied/src/components/general/fileUploading/fileUploadingDialog.module.css
  frontend/onied/src/components/general/fileUploading/fileUploadingDialog.tsx
  frontend/onied/src/components/general/fileUploading/predefinedFileContexts.ts
Labels: Frontend

#159 Фронт: Загрузка файлов с метаданными
  backend/Onied/Storage/Storage/Controllers/TemporaryStorageController.cs
  backend/Onied/Users/Users/ocelot.json
  frontend/onied/src/components/blocks/video/embedVideo.tsx
  frontend/onied/src/components/blocks/video/providers/fileProvider.ts
  frontend/onied/src/components/blocks/video/providers/rutubeVideoProvider.ts
  frontend/onied/src/components/blocks/video/providers/videoProvider.ts
  frontend/onied/src/components/blocks/video/providers/vkVideoProvider.ts
  frontend/onied/src/components/blocks/video/providers/youtubeVideoProvider.ts
  frontend/onied/src/components/editCourse/editBlocks/editSummaryBlock/editSummaryBlock.tsx
  frontend/onied/src/components/editCourse/editBlocks/editVideoBlock/editVideoBlock.spec.tsx
  frontend/onied/src/components/editCourse/editBlocks/editVideoBlock/editVideoBlock.tsx
  frontend/onied/src/components/general/fileUploading/fileUploadingDialog.tsx
Labels: Frontend

#160 Фронт: Отображение файлов и метаданных
  frontend/onied/src/components/blocks/summary/summary.spec.tsx
  frontend/onied/src/components/blocks/summary/summary.tsx
  frontend/onied/src/components/blocks/video/video.tsx
  frontend/onied/src/components/editCourse/editBlocks/editSummaryBlock/editSummaryBlock.tsx
  frontend/onied/src/components/editCourse/editBlocks/editVideoBlock/editVideoBlock.tsx
  frontend/onied/src/components/general/fileEntrySummary/fileEntrySummary.module.css
  frontend/onied/src/components/general/fileEntrySummary/fileEntrySummary.tsx
  frontend/onied/src/components/general/fileMetadata/fileMetadata.module.css
  frontend/onied/src/components/general/fileMetadata/fileMetadata.tsx
Labels: Frontend

#161 Этап №6
  backend/Onied/Purchases/Purchases/appsettings.json
  backend/Onied/Storage/Storage/Abstractions/IPermanentStorageTransferService.cs
  backend/Onied/Storage/Storage/Abstractions/IRedisRepository.cs
  backend/Onied/Storage/Storage/Abstractions/IStorageService.cs
  backend/Onied/Storage/Storage/Abstractions/ITemporaryStorageCleanerService.cs
  backend/Onied/Storage/Storage/Commands/InitUploadTemporaryFile.cs
  backend/Onied/Storage/Storage/Commands/UploadMetadata.cs
  backend/Onied/Storage/Storage/Commands/UploadTemporaryFile.cs
  backend/Onied/Storage/Storage/Constants/Buckets.cs
  backend/Onied/Storage/Storage/Controllers/StorageController.cs
  backend/Onied/Storage/Storage/Controllers/TemporaryStorageController.cs
  backend/Onied/Storage/Storage/Dtos/GetTemporaryFileData.cs
  backend/Onied/Storage/Storage/Extensions/ServicesExtensions.cs
  backend/Onied/Storage/Storage/Handlers/GetMetadataQueryHandler.cs
  backend/Onied/Storage/Storage/Handlers/GetUrlByFileIdQueryHandler.cs
  backend/Onied/Storage/Storage/Handlers/InitUploadTemporaryFileHandler.cs
  backend/Onied/Storage/Storage/Handlers/UploadMetadataHandler.cs
  backend/Onied/Storage/Storage/Handlers/UploadTemporaryFileHandler.cs
  backend/Onied/Storage/Storage/Program.cs
  backend/Onied/Storage/Storage/Queries/GetMetadataByFileIdQuery.cs
  backend/Onied/Storage/Storage/Queries/GetUrlByFileIdQuery.cs
  backend/Onied/Storage/Storage/Services/PermanentStorageTransferService.cs
  backend/Onied/Storage/Storage/Services/RedisRepository.cs
  backend/Onied/Storage/Storage/Services/StorageService.cs
  backend/Onied/Storage/Storage/Services/TemporaryStorageCleanerService.cs
  backend/Onied/Storage/Storage/Services/TemporaryStorageService.cs
  backend/Onied/Storage/Storage/Storage.csproj
  backend/Onied/Storage/Storage/appsettings.json
  backend/Onied/Users/Users/ocelot.Docker.json
  backend/Onied/Users/Users/ocelot.json
  backend/docker-compose.yml
  backend/redis/docker-compose.yml
  frontend/onied/package-lock.json
  frontend/onied/src/App.css
  frontend/onied/src/components/blocks/summary/summary.spec.tsx
  frontend/onied/src/components/blocks/summary/summary.tsx
  frontend/onied/src/components/blocks/video/embedVideo.tsx
  frontend/onied/src/components/blocks/video/providers/fileProvider.ts
  frontend/onied/src/components/blocks/video/providers/rutubeVideoProvider.ts
  frontend/onied/src/components/blocks/video/providers/videoProvider.ts
  frontend/onied/src/components/blocks/video/providers/vkVideoProvider.ts
  frontend/onied/src/components/blocks/video/providers/youtubeVideoProvider.ts
  frontend/onied/src/components/blocks/video/video.tsx
  frontend/onied/src/components/editCourse/editBlocks/editSummaryBlock/editSummaryBlock.spec.tsx
  frontend/onied/src/components/editCourse/editBlocks/editSummaryBlock/editSummaryBlock.tsx
  frontend/onied/src/components/editCourse/editBlocks/editVideoBlock/editVideoBlock.spec.tsx
  frontend/onied/src/components/editCourse/editBlocks/editVideoBlock/editVideoBlock.tsx
  frontend/onied/src/components/editCourse/editPreview/editPreview.tsx
  frontend/onied/src/components/general/button/button.tsx
  frontend/onied/src/components/general/fileEntrySummary/fileEntrySummary.module.css
  frontend/onied/src/components/general/fileEntrySummary/fileEntrySummary.tsx
  frontend/onied/src/components/general/fileMetadata/fileMetadata.module.css
  frontend/onied/src/components/general/fileMetadata/fileMetadata.tsx
  frontend/onied/src/components/general/fileUploading/fileUploadingDialog.module.css
  frontend/onied/src/components/general/fileUploading/fileUploadingDialog.tsx
  frontend/onied/src/components/general/fileUploading/predefinedFileContexts.ts
Labels: Окончание спринта 🎉

#162 ХОТФИКС утечка
  frontend/onied/src/components/blocks/video/embedVideo.tsx
Labels: Frontend

#163 K********s
  .github/workflows/publish.yaml
  .gitignore
  backend/postgres/docker-compose.yml
  k8s-sample-configs/certificates-config.yaml
  k8s-sample-configs/courses-config.yaml
  k8s-sample-configs/db-config.yaml
  k8s-sample-configs/frontend-config.yaml
  k8s-sample-configs/minio-config.yaml
  k8s-sample-configs/notifications-config.yaml
  k8s-sample-configs/purchases-config.yaml
  k8s-sample-configs/rabbitmq-config.yaml
  k8s-sample-configs/redis-config.yaml
  k8s-sample-configs/storage-config.yaml
  k8s-sample-configs/support-config.yaml
  k8s-sample-configs/users-config.yaml
  k8s/certificates-deployment.yaml
  k8s/certificates-service.yaml
  k8s/courses-deployment.yaml
  k8s/courses-service.yaml
  k8s/db-deployment.yaml
  k8s/db-service.yaml
  k8s/frontend-deployment.yaml
  k8s/frontend-service.yaml
  k8s/minio-deployment.yaml
  k8s/minio-service.yaml
  k8s/minio-storage-persistentvolumeclaim.yaml
  k8s/notifications-deployment.yaml
  k8s/notifications-service.yaml
  k8s/pg-data-persistentvolumeclaim.yaml
  k8s/purchases-deployment.yaml
  k8s/purchases-service.yaml
  k8s/rabbitmq-deployment.yaml
  k8s/rabbitmq-service.yaml
  k8s/redis-deployment.yaml
  k8s/redis-service.yaml
  k8s/storage-deployment.yaml
  k8s/storage-service.yaml
  k8s/support-deployment.yaml
  k8s/support-service.yaml
  k8s/users-deployment.yaml
  k8s/users-service.yaml
Labels: Backend, Окончание спринта 🎉
